.IonContent {
  --background: url("https://wallpaperaccess.com/full/3162193.png") 0 0/100%
    100% no-repeat;
}

.card-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55%;
}

.inp {
  border: solid 1px;
  margin: 10px;
  border-radius: 5px;
}
.content-Input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-weight: bold;
}
